body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* Красивый градиентный фон */
}

.container {
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    color: white;
    text-shadow: 2px 2px 4px #000000; /* Тень для заголовка */
    margin-bottom: 30px;
    font-style: italic; /* Курсив */
}

.main-button {
    margin: 10px;
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 10px; /* Закругленные углы */
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
    color: white;
    transition: all 0.3s ease; /* Плавный эффект при наведении */
}

.main-button:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Более заметный фон при наведении */
}


.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 15px;
    border: 1px solid #888;
    width: 40%;
    text-align: center;
}

.close-button {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

#username-input {
    width: 60%;
    padding: 10px;
    margin: 20px 0;
}

#start-rating-game, #start-training-game {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px; /* Закругленные углы */
    background-color: rgba(0, 0, 0, 0.3); /* Полупрозрачный фон */
}
.difficulty-selection, .level-selection {
    margin: 10px 0;
}

.difficulty-button, .level-button {
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 0, 0, 0.5);
    cursor: pointer;
    transition: background-color 0.3s;
}

.difficulty-button.active, .level-button.active {
    background-color: #2193b0;
    color: white;
}
footer
{
    position: sticky;
    bottom: 0;
    max-height: 5%;
    text-align: center;
}
